<div class="body-login">
<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<div class="form">
			<h1>Log In</h1>
			<span>Sistema de costeo de llamadas</span>
            <input type="text" id="username" formControlName="username" name="username" placeholder="Usuario" required>
            <input type="password" id="password" formControlName="password" name="password" placeholder="Contraseña" required>
			
			<a href="#">Olvidaste tu contraseña?</a>
			<button (click)="onSubmit()">Log In</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>STIC2025</h1>
				
			</div>
		</div>
	</div>
</div>
</div>
